NamespaceIndentation: All
BasedOnStyle: google
IndentWidth: 4
IndentPPDirectives: BeforeHash
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
#AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: Inline
